# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# script generated folders
data
download
plots
DWDdata
logs

# Rmd outputs
*.nb.html
*.pdf

# spatial data
gadm*.rds

# ignore possibly copyright protected material
static_data/bioflor_traits.csv
static_data/plant_pollinator_interactions_for_potential_networks_2018.csv
